@use '@angular/material' as mat;
@include mat.core();

$cusca-blue: (
  50: #e3f0f4,
  100: #b9d9e6,
  200: #90c2d7,
  300: #6baac7,
  400: #4f9abe,
  500: #358ab5,
  600: #297eaa,
  700: #1c6d9a,
  800: #115d89,
  900: #01426a,

  contrast: (
    50: #fff8df,
    100: #ffebaf,
    200: #ffdf7b,
    300: #ffd342,
    400: #ffc800,
    500: #ffbe00,
    600: #ffb000,
    700: #ff9c00,
    800: #ff8a00,
    900: #ff6800,
  )
);

$cusca-secondary: (
  50: #e3f0f4,
  100: #b9d9e6,
  200: #90c2d7,
  300: #6baac7,
  400: #2C85BC,
  500: #358ab5,
  600: #297eaa,
  700: #1c6d9a,
  800: #115d89,
  900: #01426a,

  contrast: (
    50: #fff8df,
    100: #ffebaf,
    200: #ffdf7b,
    300: #ffd342,
    400: #ffc800,
    500: #ffbe00,
    600: #ffb000,
    700: #ff9c00,
    800: #ff8a00,
    900: #ff6800,
  )
);


$cusca-yellow: (
  50: #fff8df,
  100: #ffebaf,
  200: #ffdf7b,
  300: #ffd342,
  400: #ffc800,
  500: #ffbe00,
  600: #ffb000,
  700: #ff9c00,
  800: #ff8a00,
  900: #ff6800,

  contrast: (
    50: #e3f0f4,
    100: #b9d9e6,
    200: #90c2d7,
    300: #6baac7,
    400: #4f9abe,
    500: #358ab5,
    600: #297eaa,
    700: #1c6d9a,
    800: #115d89,
    900: #01426a,
  )
);


$light-theme: mat.define-light-theme(
  (
    color:(
      primary: mat.define-palette($cusca-blue, 900),
      accent: mat.define-palette($cusca-yellow, 400),
      // accent: mat.define-palette($cusca-yellow, 400)
    ),
    typography: mat.define-typography-config(
      $font-family: 'Montserrat',
    ),
    // density: 0,
  )
);


@include mat.all-component-themes($light-theme);

