.form{
  display: flex;
  flex-direction: column;
  width: 30%;
}

@media (max-width: 1200px) {
  .form{
    display: flex;
    flex-direction: column;
    width: 50%;
  }  
}

@media (max-width: 700px) {
  .form{
    display: flex;
    flex-direction: column;
    width: 80%;
  }  
}