<mat-toolbar class="sidebar">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'buttons'">Botones</button>
    <button mat-menu-item [routerLink]="'forms'">Formularios</button>
    <button mat-menu-item [routerLink]="'layout'">Layout</button>
    <button mat-menu-item [routerLink]="'text'">Text</button>
  </mat-menu>

  <div class="btn-theme">
    <p>Color</p>
    <mat-slide-toggle
      [(ngModel)]="isDarkMode"
      (ngModelChange)="changeTheme($event)"
    >
    </mat-slide-toggle>
  </div>
</mat-toolbar>
